.umsapp .logreg-switcher {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px !important;
    font-family: "DM Mono", monospace;
  }
  
  .umsapp .logreg-switcher .divider {
    width: 1px;
    height: 20px;
    background-color: #ccc;
    margin: 0 10px;
  }
  
  .umsapp .logreg-switcher a {
      color: black;
      cursor: pointer;
  }
  
  .umsapp .logreg-switcher a.active {
      color: gray;
      cursor: default;
  }