@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f0efef;
}

.umsapp {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #f0efef;
  overflow-x: hidden;
  width: 100%;
  font-family: "DM Mono", monospace;
}

.umsapp .info-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 21px;
    background-color: #ffc107;
    color: #000;
    font-size: 32px;
    font-weight: bold;
    border-radius: 0px;
    clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
    padding-bottom: 3px;
}

.loader {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 32px auto 0 auto;
  width: 100px;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side, #5fc86f 90%, transparent);
  background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
  background-size: calc(100% / 3) 50%;
  animation: l3 1s infinite linear;
}

@keyframes l3 {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}
