@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f0efef;
}

.umsapp .info-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 21px;
    background-color: #ffc107;
    color: #000;
    font-size: 32px;
    font-weight: bold;
    border-radius: 0px;
    clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
    padding-bottom: 3px;
}
