.umsapp .nav-bar {
    position: relative;
    cursor: pointer;
  }
  .umsapp .nav-bar.menu-open {
    background-color: white;
    width: 30vw;
    border: 1px solid grey;
    border-radius: 4px;
    top: 4px;
  }
  
  .umsapp .hamburger-menu {
    border: none;
    font-size: 32px;
    cursor: pointer;
    background: none;
    padding: 0;
  }
  .umsapp .hamburger-menu.open {
    background-color: white;
  }
  
  .umsapp .links {
    display: none;
  }
  .umsapp .links.show {
    display: block;
    padding: 2.5em 5px 0.5em 0;
    list-style: none;
  }
  
  .umsapp .links li {
    font-size: 1.1rem;
    font-weight: bold;
    margin: 0.5em 1em;
    cursor: pointer;
  }
  .umsapp .links a {
    text-decoration: none;
    color: black;
  }

  .umsapp .links .logout-button {
    all: unset;
    color: black;
    cursor: pointer;
  }

  @media (max-width: 768px) {
  .umsapp .nav-bar.menu-open {
    width: 70vw;
  }}