.umsapp .nav-bar {
    position: fixed;
    top: 0;
    right: 4px;
    z-index: 100;
    cursor: pointer;
  }
  .umsapp .nav-bar.menu-open {
    background-color: white;
    width: 30vw;
    border: 1px solid grey;
    border-radius: 4px;
    top: 4px;
  }
  
  .umsapp .hamburger-menu {
    position: absolute;
    right: 10px;
    border: none;
    font-size: 45px;
    cursor: pointer;
  }
  .umsapp .hamburger-menu.open {
    background-color: white;
  }
  
  .umsapp .links {
    display: none;
  }
  .umsapp .links.show {
    display: block;
    padding-right: 5px;
    list-style: none;
  }
  
  .umsapp .links li {
    font-size: 1.7rem;
    font-style: bold;
    margin: 1em;
    margin-top: 1.5em;
    cursor: pointer;
  }
  .umsapp .links a {
    text-decoration: none;
    color: black;
  }

  .umsapp .links .logout-button {
    all: unset;
    color: black;
    cursor: pointer;
  }

  @media (max-width: 768px) {
  .umsapp .nav-bar.menu-open {
    width: 70vw;
  }}