.umsapp.kiosk-page .kiosk {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    
    
  }
  
  .umsapp.kiosk-page .products, .cart {
    margin-top: 20px;
    padding: 10px;
    
  }
  
  .umsapp.kiosk-page .product, .cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
