<template name="AppBody">
    <head>
        <title>UMS Members</title>
    </head>
    <body>
    <header>

        {{> loginButtons align="right"}}
        <ul id="menu">
            <li><a href="/">Home</a></li>
            <li><a href="/admin/members">Members</a></li>
            <li><a href="/history">History</a></li>
            <li><a href="/storage">Storage</a></li>
            <li><a href="/payments">Payments</a></li>
            <li><a href="/templates">Templates</a></li>
            <li><a href="/mail">Mail</a></li>
            <li><a href="/lock">Lock</a></li>
            <li><a href="/stats">Statistics</a></li>
            <li><a href="/admin">Admin</a></li>
            <li><a href="/login">login mf</a></li>
        </ul>
    </header>
    {{#if currentUser}}
    <div id="main">
        {{> Template.dynamic template=main}}
    </div>
    {{/if}}
    {{#unless currentUser}}
    <br>
    <br>
    <h1>This application requires you to sign in first!</h1>
    {{/unless}}
    </body>
</template>