<template name="AppBody">
    <header>
        {{> loginButtons align="right"}}
        <ul id="menu">
            <li><a href="/admin">Home</a></li>
            <li><a href="/admin/members">Members</a></li>
            <li><a href="/admin/history">History</a></li>
            <li><a href="/admin/storage">Storage</a></li>
            <li><a href="/admin/payments">Payments</a></li>
            <li><a href="/admin/templates">Templates</a></li>
            <li><a href="/admin/mail">Mail</a></li>
            <li><a href="/admin/lock">Lock</a></li>
            <li><a href="/admin/stats">Statistics</a></li>
            <li><a href="/admin/users">Users</a></li>
            <li><a href="/admin">Admin</a></li>
        </ul>
    </header>
    {{#if currentUser}}
    {{#if isInRole 'admin'}}
    <div id="main">{{> Template.dynamic template=main}}</div>
    {{/if}}
    {{#unless isInRole 'admin'}}
    <br />
    <br />
    <h1>You have to be an administrator to use the admin webb application!</h1>
    {{/unless}}
    {{/if}}
    {{#unless currentUser}}
    <br />
    <br />
    <h1>You have to sign in before you can use the admin webb application!</h1>
    {{/unless}}
</template>