@import "ui/stats/stats.css";
@import "ui/comment/comment.css";
@import "ui/mail/mail.css";
@import "ui/check/check.css";
@import "ui/storage/storage.css";

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #F3F1F1;
  
}
body {
  background: #F3F1F1;
}

.publicPage {
  position: fixed;
  overflow: auto;
  width: 100%;
  height: 100%;
  background: white;
}
#main {
  background: #F3F1F1;
  font-family: sans-serif;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2%;
  
}

.members thead th {
  text-align: left;
  border-bottom: 1px solid grey;
  padding-bottom: 10px;
}

.members tbody td {
  height: 40px;
}

.members {
  width: 100%;
  border-collapse: collapse;
}


header {
  position: fixed;
  width: 100%;
  left: 0px;
  background-color:#600;
  top: 0px;
  box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.3);
  z-index: 100;
}

#menu {
  list-style-type:none;
  margin:0;
  padding:0;
  height:30px;
  font-family:Arial;
  font-size:0.9em;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
#menu li {
  float:left;
  height:30px;
  line-height:30px;
}
#menu li a {
  display:block;
  padding:0 20px;
  color:#FFF;
  text-decoration:none;
}
#menu li a:hover {
  background-color:#900;
  text-decoration:none;
}

.label {
  font-size: 14px;
  padding: 5px 10px;
}

.labelInHeading {
  vertical-align: middle;
}

.reactive-table td, a {
  cursor: pointer;
}

#messageViewForm textarea,
#insertMessageForm textarea,
#insertTemplateForm textarea,
#messageTemplateViewForm textarea {
  min-height: 400px;
}

#messageViewForm textarea[data-schema-key="sms"],
#insertMessageForm textarea[data-schema-key="sms"],
#insertTemplateForm textarea[data-schema-key="sms"],
#messageTemplateViewForm textarea[data-schema-key="sms"] {
  min-height: 50px;
}


@media (max-width: 768px) {
  #main {
    padding: 10px;
  }

  .form-button {
    font-size: 16px;
    padding: 12 px 20px; 
  }

  .language-switcher {
    font-size: 12px; /* Minska textstorleken för språkväxlaren */
    padding: 5px 10px; /* Mindre padding */
  }
  
}

.language-switcher {
  display: flex;
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 10px 15px;
  color: black;
  cursor: pointer;
  font-size: 14px;
  border: none;
  background: none;
}

.language-switcher .language {
  color: gray;  
  cursor: pointer;
  font-weight: normal;
}

.language-switcher .language.active{
color:black;
  font-weight: bold;
}
.language-switcher .language:hover {
  color: black;
}

.language-switcher .divider {
  width: 1px;
  height: 20px;
  background-color: #000000;
  margin: 0 10px;
}

.divider {
  width: 1px;
  height: 20px;
  background-color: #000000; 
  margin: 0 10px;
}


.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px; 
  
}



.login-logo {
  display: block;
  margin: 0 auto 20px;
  max-width: 150px;
  height: auto;
}

.form-group {
  width: 100%;
  margin-bottom: 15px;
  text-align: center;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input {
  background-color: #F3F1F1;
  width: 100%;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 4px;
  font-size: 16px;
}

/* Stil för knappen */
.form-button {
  width: 100%;
  padding: 10px;
  background-color:#5FC86F;
  color:  #F3F1F1;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  
}

.form-button:hover {
  background-color: #096817;
}

.login-buttons-dropdown-align-right {
  float: right;
  margin: 10px 20px !important;
}

.login-buttons-dropdown-align-right a.login-link-text {
  color:  #F3F1F1;
}

#login-dropdown-list {
  top: 32px;
}

img {
  max-width: 100%; /* Gör att bilden aldrig blir bredare än sin container */
  height: auto; /* Bevarar bildens proportioner */
}

.table-hover>tbody>tr:hover {
  cursor: pointer;
}