.umsapp html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #f0efef;
  overflow-x: hidden;
  width: 100%;
}

.umsapp body {
  background: #f0efef;
}

.umsapp #main {
  background: #f0efef;
  font-family: sans-serif;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2%;
}

.umsapp {
  font-family: "DM Mono", monospace;
}

.umsapp * {
  box-sizing: border-box;
}

.umsapp img {
  max-width: 100%;
  height: auto;
}

.umsapp .login-form {
  display: flex;
  margin: 0 auto !important;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  padding: 2%;
}

.umsapp .login-form input,
.umsapp .login-form button {
  width: 100%;
  max-width: 100%;
  margin: 10px 0;
  padding: 10px;
  font-size: 16px;
  box-sizing: border-box;
}

.umsapp .form-button {
  width: 100%;
  padding: 10px;
  color: #f0efef;
  justify-content: center;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  background-color: #5fc86f;
  cursor: pointer;
}

.umsapp .login-logo {
  display: block;
  max-width: 250px;
  height: auto;
  width: 100%;
  margin-top: 40px;
  margin-right: auto;
  margin-bottom: 80px;
  margin-left: auto;
}

.umsapp .form-group {
  width: 100%;
  margin-bottom: 15px;
  text-align: center;
}

.umsapp .form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.umsapp .form-group input {
  background-color: #f0efef;
  width: 100%;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 4px;
  font-size: 16px;
}

.umsapp .form-button:hover {
  background-color: #096817;
}

.umsapp .button-icon {
  width: 25px;
  height: 25px;
  margin-right: 8px;
  vertical-align: middle;
}

.umsapp .language-switcher {
  position: fixed;
  font-size: 12px;
  padding: 5px 10px;
  background: none;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%; /* Gör att body och html täcker hela höjden */
  background-color: #f0efef; /* Bakgrundsfärg */
}

.umsapp .language-switcher {
  display: flex;
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 10px 15px;
  color: black;
  cursor: pointer;
  font-size: 14px;
  border: none;
  background: none;
}

.umsapp .language-switcher .language {
  color: gray;
  cursor: pointer;
  font-weight: normal;
}

.umsapp .language-switcher .language.active {
  color: black;
  font-weight: bold;
}
.language-switcher .language:hover {
  color: black;
}

.umsapp .language-switcher .divider {
  width: 1px;
  height: 20px;
  background-color: #000000;
  margin: 0 10px;
}

.umsapp .divider {
  width: 1px;
  height: 20px;
  background-color: #000000;
  margin: 0 10px;
}

.umsapp .logreg-switcher {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.umsapp .logreg-switcher .divider {
  width: 1px;
  height: 20px;
  background-color: #ccc;
  margin: 0 10px;
}

.umsapp .logreg-switcher span {
  color: gray;
  cursor: pointer;
}

.umsapp .logreg-switcher span.active {
  color: black;
}

.umsapp .membershipsContainer {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  padding: 10px;
  margin: 50px;
  align-items: center;
  justify-content: center;
}

.umsapp .text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  text-align: center;
  margin-bottom: 15px;
}

.umsapp .login-form button.round-button {
  border-radius: 50%;
  font-style: bold;
  width: 30%;
  height: 100px;
  font-size: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  cursor: pointer;
}

.umsapp .nav-bar {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  cursor: pointer;
}
.umsapp .nav-bar.menu-open {
  background-color: white;
  margin-left: 1em;
  width: 30vw;
  height: 75vh;
  border: 1px solid grey;
}

.umsapp .hamburger-menu {
  position: absolute;
  right: 10px;
  border: none;
  font-size: 30px;
  cursor: pointer;
}
.umsapp .hamburger-menu.open {
  background-color: white;
}

.umsapp .links {
  display: none;
}
.umsapp .links.show {
  display: block;
  text-align: right;
  list-style: none;
}

.umsapp .links li {
  font-size: 30px;
  font-style: bold;
  margin: 1em;
  margin-top: 1.5em;
  cursor: pointer;
}
.umsapp .links a {
  text-decoration: none;
  color: black;
}

.umsapp .text-h3 {
  justify-content: center;
  text-align: center;
}
.umsapp .membershipsContainer p {
  max-width: 450px;
}
.umsapp .membership {
  padding: 5px;
  margin: 10px;
}

.umsapp .price {
  display: flex;
  align-items: center;
  column-gap: 20px;
  margin-top: 0px;
  padding-top: 0px;
}

.umsapp .AgreementHolder {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  text-align: left;
}

.umsapp .Agreementholder .BackButton {
  background: none;
  background-color: transparent !important;
  color: black;
}

.umsapp .BackButton:hover {
  text-decoration: underline; /* Understrykning vid hover */
}

.umsapp .AgreementHolder h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.umsapp .AgreementHolder h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.umsapp .AgreementHolder p {
  font-size: 16px;
  margin-bottom: 20px;
}

.umsapp .AgreementHolder label {
  color: gray;
}

.umsapp .AgreementHolder input[type="checkbox"]:not(:disabled) + label {
  color: black;
}

.umsapp .AgreementHolder button {
  margin-top: 30px;
  margin-bottom: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.umsapp .AgreementButton {
  border-radius: 50%;
  background-color: #5fc86f;
  color: white;
}

.umsapp .AgreementButton:hover {
  background-color: #096817;
}

.umsapp .AgreementHolder button:last-of-type {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  background-color: #5fc86f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.umsapp .AgreementHolder button:last-of-type:active:hover {
  background-color: #096817;
}

.umsapp .AgreementHolder button:last-of-type:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.umsapp .AgreementHolder button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.umsapp .AgreementHolder button:disabled:hover {
  background-color: #cccccc;
}

.umsapp .AgreementHolder input[type="checkbox"] {
  margin-right: 10px;
}

.umsapp .addMembership {
  width: 80px;
  height: 30px;
  color: #f0efef;
  justify-content: center;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  background-color: #5fc86f;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.umsapp .addMembership:hover {
  background-color: #096817;
}

.umsapp .MembershipAgreementModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.umsapp .AgreementContent {
  background: white;
  padding: 20px;
  width: 80%;
  max-height: 80%;
  overflow-y: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.umsapp .AgreementContent h2 {
  margin-top: 0;
}

.umsapp .AgreementContent button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #5fc86f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.umsapp .AgreementContent button:hover {
  background-color: #096817;
}

.umsapp .AgreementContent p:last-of-type {
  margin-top: 10px;
}

.umsapp .pay-button {
  background-color: #cccccc; /* Grå färg för inaktiverad knapp */
  cursor: not-allowed;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  color: white;
  width: 100%;
}

.umsapp .pay-button.hover-enabled {
  background-color: #5fc86f;
  cursor: pointer;
}

.umsapp .pay-button.hover-enabled:hover {
  background-color: #096817;
}

@media (max-width: 768px) {
  .umsapp .login-form input,
  .umsapp .login-form button {
    width: 90%;
    margin: 5px auto;
  }
  .umsapp .text-container {
    width: 90%;
    margin: 5px auto;
    margin-bottom: 20px;
  }
  .umsapp .nav-bar.menu-open {
    height: 75vh;
    width: 70vw;
  }
}
