.umsapp html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #F0EFEF;
  overflow-x: hidden;
  width: 100%;

}

.umsapp body {
  background: #F0EFEF;
}

.umsapp #main {
  background: #F0EFEF;
  font-family: sans-serif;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2%;
  
}

.umsapp * {
    box-sizing: border-box;
}

.umsapp img {
    max-width: 100%;
    height: auto;
}


.umsapp .login-form {
  display: flex;
  margin: 0 auto !important;
  flex-direction: column; 
  align-items: center; 
  width: 100%; 
  max-width: 400px; 
  padding: 2%; 
  
  
  
}

.umsapp .login-form input,
.umsapp .login-form button {
  
  width: 100%; 
  max-width: 100%; 
  margin: 10px 0; 
  padding: 10px; 
  font-size: 16px; 
  box-sizing: border-box; 
}

.umsapp .form-button {
  width: 100%;
  padding: 10px;
  color:  #F0EFEF;
  justify-content: center;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  background-color:#5FC86F;
  cursor: pointer;
  
}

.umsapp .login-logo {
  display: block;
  max-width: 250px;
  height: auto;
  width: 100%;
  margin-top: 40px;
  margin-right: auto;
  margin-bottom: 80px;
  margin-left: auto;
  
}


.umsapp .form-group {
    width: 100%;
    margin-bottom: 15px;
    text-align: center;
}

.umsapp .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.umsapp .form-group input {
  background-color: #F0EFEF;
  width: 100%;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 4px;
  font-size: 16px;
}


.umsapp .form-button:hover {
    background-color: #096817;
}

.umsapp .button-icon {
  width: 25px;
  height: 25px;
  margin-right: 8px;
  vertical-align: middle
 
}


.umsapp .language-switcher {
  font-size: 12px; 
  padding: 5px 10px; 
}



.umsapp .language-switcher {
display: flex;
position: absolute;
top: 10px;
left: 10px;
padding: 10px 15px;
color: black;
cursor: pointer;
font-size: 14px;
border: none;
background: none;
}


.umsapp .language-switcher .language {
color: gray; 
cursor: pointer;
font-weight: normal;
}


.umsapp .language-switcher .language.active{
color:black;
font-weight: bold;
}
.language-switcher .language:hover {
color: black;
}


.umsapp .language-switcher .divider {
width: 1px;
height: 20px;
background-color: #000000;
margin: 0 10px;
}


.umsapp .divider {
width: 1px;
height: 20px;
background-color: #000000;
margin: 0 10px;
}

.umsapp .logreg-switcher {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.umsapp .logreg-switcher .divider {
  width: 1px;
  height: 20px;
  background-color: #ccc;
  margin: 0 10px;
}

.umsapp .logreg-switcher span {
  color: gray;
  cursor: pointer;
}

.umsapp .logreg-switcher span.active {
  color: black;
  
}



  @media (max-width: 768px) {
  .umsapp .login-form input,
  .umsapp .login-form button {
    width: 90%; /* Anpassar bredden för mobiler */
    margin: 5px auto; /* Mindre mellanrum på små skärmar */
    
  }
}

