<template name="AppBody">
    <header id="topbar">
        <button id="hamburger" class="hamburger-btn">&#9776;</button>
        {{> loginButtons align="right"}}
    </header>
    <nav id="sidebar">
        <ul id="menu">
            <li><a href="/">Home</a></li>
            <li class="menu-heading">Members</li>
            <li class="menu-sub"><a href="/members">All</a></li>
            <li class="menu-sub"><a href="/history">History</a></li>
            <li class="menu-sub"><a href="/lock">Lock</a></li>
            <li class="menu-sub"><a href="/pending">Pending</a></li>
            <li><a href="/storage">Storage</a></li>
            <li><a href="/payments">Payments</a></li>
            <li><a href="/liability">Liability</a></li>
            <li><a href="/certificates">Certificates</a></li>
            <li class="menu-heading">Messages</li>
            <li class="menu-sub"><a href="/mail">Mail</a></li>
            <li class="menu-sub"><a href="/templates">Templates</a></li>
            <li class="menu-sub"><a href="/announcements">Announcements</a></li>
            <li><a href="/stats">Statistics</a></li>
            <li><a href="/users">Users</a></li>
            <li><a href="/admin">Admin</a></li>
        </ul>
    </nav>
    {{#if currentUser}}
      {{#if isInRole "admin,board"}}
        <div class="admin-panel">
            <div id="main">
                {{> Template.dynamic template=main}}
            </div>
        </div>
      {{/if}}
      {{#unless isInRole "admin,board"}}
         <br>
         <br>
        <h1>You are not an admin</h1>
      {{/unless}}
    {{/if}}
    {{#unless currentUser}}
    <br>
    <br>
    <h1>You have to sign in first!</h1>
    {{/unless}}
</template>