<template name="AppBody">
    <header id="topbar">
        <button id="hamburger" class="hamburger-btn">&#9776;</button>
        {{> loginButtons align="right"}}
    </header>
    <nav id="sidebar">
        <ul id="menu">
            <li><a href="/">Home</a></li>
            <li class="menu-section" data-section="members">
                <div class="menu-heading">Members</div>
                <ul class="menu-items">
                    <li><a href="/members">All</a></li>
                    <li><a href="/history">History</a></li>
                    <li><a href="/lock">Lock</a></li>
                    <li><a href="/pending">Pending</a></li>
                    <li><a href="/reminders">Reminders</a></li>
                    <li><a href="/excluded">Excluded</a></li>
                </ul>
            </li>
            <li class="menu-section" data-section="operation">
                <div class="menu-heading">Operation</div>
                <ul class="menu-items">
                    <li><a href="/workshops">Workshops</a></li>
                    <li><a href="/groups">Groups</a></li>
                    <li><a href="/spaces">Spaces</a></li>
                    <li><a href="/certificates">Certificates</a></li>
                    <li><a href="/liability">Liability</a></li>
                    <li><a href="/storage">Storage</a></li>
                </ul>
            </li>
            <li class="menu-section" data-section="economy">
                <div class="menu-heading">Economy</div>
                <ul class="menu-items">
                    <li><a href="/payments">Payments</a></li>
                    <li><a href="/expenses">Expenses</a></li>
                    <li><a href="/expenses/confirm">Confirm expenses</a></li>
                    <li><a href="/expenses/reimburse">Reimburse expenses</a></li>
                    <li><a href="/expenses/accounts">Expense accounts</a></li>
                    <li><a href="/accounting/bankexport">Bank export</a></li>
                </ul>
            </li>
            <li class="menu-section" data-section="messages">
                <div class="menu-heading">Messages</div>
                <ul class="menu-items">
                    <li><a href="/mail">Mail</a></li>
                    <li><a href="/templates">Templates</a></li>
                    <li><a href="/announcements">Announcements</a></li>
                </ul>
            </li>
            <li class="menu-section" data-section="statistics">
                <div class="menu-heading">Statistics</div>
                <ul class="menu-items">
                    <li><a href="/stats">Memberships</a></li>
                    <li><a href="/doorunlocks">Door unlocks</a></li>
                </ul>
            </li>
            <li class="menu-section" data-section="admin">
                <div class="menu-heading">Admin</div>
                <ul class="menu-items">
                    <li><a href="/users">Users</a></li>
                    <li><a href="/admin">Batch operations</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    {{#if currentUser}}
      {{#if isInRole "admin,board,treasurer"}}
        <div class="admin-panel">
            <div id="main">
                {{> Template.dynamic template=main}}
            </div>
        </div>
      {{/if}}
      {{#unless isInRole "admin,board,treasurer"}}
         <br>
         <br>
        <h1>You are not an admin</h1>
      {{/unless}}
    {{/if}}
    {{#unless currentUser}}
    <br>
    <br>
    <h1>You have to sign in first!</h1>
    {{/unless}}
</template>